<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy
!pip install python-sql
!pip install ipython-sql

Requirement already satisfied: sqlalchemy in c:\users\colli\anaconda3\lib\site-packages (2.0.4)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\colli\anaconda3\lib\site-packages (from sqlalchemy) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\colli\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: python-sql in c:\users\colli\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: ipython-sql in c:\users\colli\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\colli\anaconda3\lib\site-packages (from ipython-sql) (2.0.4)
Requirement already satisfied: prettytable in c:\users\colli\anaconda3\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: six in c:\users\colli\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\colli\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\colli\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: sqlparse in c:\users\colli\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\colli\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\colli\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: pygments in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: decorator in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: colorama in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\users\colli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\colli\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\colli\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data2.db")
cur = con.cursor()

In [4]:
%sql sqlite:///my_data2.db

In [5]:
import pandas as pd
df = pd.read_csv("SPACEX-edited.csv")
df.to_sql("SPACEX", con, if_exists='replace', index=False,method="multi")

C:\Users\colli\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [6]:
%%sql 
SELECT "Launch_Site"
FROM SPACEX
GROUP BY "Launch_Site";

 * sqlite:///my_data2.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%%sql 
SELECT "Launch_Site"
FROM SPACEX
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5;

 * sqlite:///my_data2.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql SELECT Customer, SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass
      FROM SPACEX
      WHERE Customer = 'NASA (CRS)';

 * sqlite:///my_data2.db
Done.

[('NASA (CRS)', 45596)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [9]:
%%sql 
SELECT "Booster_Version", AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass_Kg
FROM SPACEX
WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data2.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [10]:
%%sql
SELECT MIN(DATES) AS Year_First_Successful_Landing_Ground_Pad
FROM SPACEX
WHERE "Landing _Outcome" = 'Success (ground pad)';

 * sqlite:///my_data2.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%%sql
SELECT "Booster_Version"
FROM SPACEX
WHERE "Landing _Outcome" = 'Success (drone ship)'
    AND "PAYLOAD_MASS__KG_" BETWEEN 4001 AND 5999;

 * sqlite:///my_data2.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [12]:
%%sql
SELECT "Mission_Outcome", COUNT("Mission_Outcome") AS Total_Number_of_Outcomes
FROM SPACEX
GROUP BY "Mission_Outcome"

 * sqlite:///my_data2.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
%%sql
SELECT DISTINCT("Booster_Version")
FROM SPACEX
WHERE "PAYLOAD_MASS__KG_" IN (SELECT MAX("PAYLOAD_MASS__KG_")
                              FROM SPACEXTBL)
ORDER BY "Booster_Version";

 * sqlite:///my_data2.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7 ',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1060.3',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [18]:
%%sql
SELECT SUBSTR("DATES-original", 1, 2) AS Month,
       "Landing _Outcome",
       "Booster_Version",
        "Launch_Site"
FROM SPACEX
WHERE SUBSTR("DATES-original", 7, 4) = '2015'
    AND "Landing _Outcome" = 'Failure (drone ship)';

 * sqlite:///my_data2.db
Done.

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [15]:
%%sql
SELECT "Landing _Outcome",
       COUNT("Landing _Outcome") AS Total_Success_Landing_Outcomes
FROM SPACEX
WHERE "Landing _Outcome" LIKE 'Success%'
    AND DATES BETWEEN '2010-04-06' AND '2017-03-20'
GROUP BY "Landing _Outcome"
ORDER BY Total_Success_Landing_Outcomes DESC;

 * sqlite:///my_data2.db
Done.

[('Success (ground pad)', 5), ('Success (drone ship)', 5)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>